{% extends "base.html" %}
{% load util %}
{% load bootstrap %}

{% block style %}
.center {
  margin-left: auto;
  margin-right: auto;
}

{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="spanfifth"></div>
  <div class="spanthreefifth">
    <p>가입합시다. 이건 1분이면 끝나요.</p>
    <form action="" method="POST">
      {{ form|bootstrap }}
      <input type="submit" class="btn btn-primary" value="가입하기"></input>
      {% csrf_token %}
  </div>
  <div class="spanfifth"></div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
