$gutter-width: 20px;

body {
    font-face: "Helvetica", "Arial", sans-serif;
    color: #333;
    background: rgb(248,248,248);
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    margin-bottom: $gutter-width/2;
}

.row {
  margin-left: $gutter-width * -1;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: $gutter-width;
}
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}

.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}


$border: 1px solid rgb(225, 225, 225);

.header {
    background: #fff;
    border-bottom: $border;
}

.footer {
    background: #fff;
    border-top: $border;
}

.masthead {
    $height: 92px;
    height: $height;
    h1 {
        line-height: $height;
        margin-bottom: 0;
    }

    .nav li {
	    margin-left: $gutter-width/2;
	    font-weight: normal;
    }
}

.carousel {
    margin-bottom: 0;
    .content {
        position: relative;
        top: 300px;
        color: #fff;
        padding: $gutter-width;
        p {
            margin-bottom: 0;
        }
    }
    .item {
	    height: 400px;
        .content {
            background: rgb(126,126,126);
            background: rgba(16,16,16,0.5);
        }
    }
    
    .item1 {
        background-image: url('/static/IMG_0293.jpeg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

ul#posts {
  margin: 0;
  margin-left: -40px;
  position: relative;
  h1,h2,h3,h4,h5,h6 {
      margin-bottom: $gutter-width/4;
  }
  li {
      padding: $gutter-width/2;
      padding-bottom: $gutter-width*2;
      list-style: none;
      @extend .span3;
      @extend [class*="span"];
      .author img {
          width: 32px;
      }
  }
}

.section {
    margin-top: $gutter-width/2;
    margin-bottom: $gutter-width/2;
}

.section > .post {
    h3 {
        font-size: 190%;
        line-height: 160%;
    }
    p {
        font-size: 130%;
    }
    .author img {
        width: 64px;
    }
}

#join-form .control-group input {
    @extend .span3;
    @extend [class*="span"];
}

#post-form .control-group {
    input, textarea {
        @extend .span7;
        @extend [class*="span"];
    }
}

#upgrade-please, #welcome {
    background: rgb(216,216,216);
    background: rgba(32,32,32, 0.1);
    padding: $gutter-width/2;
    text-align: center;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: transparent;
}

#reservations {
    $border-style: 1px solid #ddd;
    table-layout: fixed;

    th, td {
        border-left: $border-style;
        border-right: $border-style;
    }
    tbody tr:hover {
        background-color: transparent;
    }
    td:hover {
        background-color: #fff;
    }
    td {
        height: $gutter-width * 3;
    }

    td.today {
        background-colior: #fff;
    }
}