body {
  font-face: "Helvetica", "Arial", sans-serif;
  color: #333;
  background: #f8f8f8; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 10px; }

.row {
  margin-left: -20px;
  *zoom: 1; }

.row:before,
.row:after {
  display: table;
  content: ""; }

.row:after {
  clear: both; }

[class*="span"], ul#posts li, #join-form .control-group input, #post-form .control-group input, #post-form .control-group textarea {
  float: left;
  margin-left: 20px; }

.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px; }

.span12 {
  width: 940px; }

.span11 {
  width: 860px; }

.span10 {
  width: 780px; }

.span9 {
  width: 700px; }

.span8 {
  width: 620px; }

.span7, #post-form .control-group input, #post-form .control-group textarea {
  width: 540px; }

.span6 {
  width: 460px; }

.span5 {
  width: 380px; }

.span4 {
  width: 300px; }

.span3, ul#posts li, #join-form .control-group input {
  width: 220px; }

.span2 {
  width: 140px; }

.span1 {
  width: 60px; }

.offset12 {
  margin-left: 980px; }

.offset11 {
  margin-left: 900px; }

.offset10 {
  margin-left: 820px; }

.offset9 {
  margin-left: 740px; }

.offset8 {
  margin-left: 660px; }

.offset7 {
  margin-left: 580px; }

.offset6 {
  margin-left: 500px; }

.offset5 {
  margin-left: 420px; }

.offset4 {
  margin-left: 340px; }

.offset3 {
  margin-left: 260px; }

.offset2 {
  margin-left: 180px; }

.offset1 {
  margin-left: 100px; }

.header {
  background: #fff;
  border-bottom: 1px solid #e1e1e1; }

.footer {
  background: #fff;
  border-top: 1px solid #e1e1e1; }

.masthead {
  height: 92px; }
  .masthead h1 {
    line-height: 92px;
    margin-bottom: 0; }
  .masthead .nav li {
    margin-left: 10px;
    font-weight: normal; }

.carousel {
  margin-bottom: 0; }
  .carousel .content {
    position: relative;
    top: 300px;
    color: #fff;
    padding: 20px; }
    .carousel .content p {
      margin-bottom: 0; }
  .carousel .item {
    height: 400px; }
    .carousel .item .content {
      background: #7e7e7e;
      background: rgba(16, 16, 16, 0.5); }
  .carousel .item1 {
    background-image: url("/static/IMG_0293.jpeg");
    background-repeat: no-repeat;
    background-position: center; }

ul#posts {
  margin: 0;
  margin-left: -40px;
  position: relative; }
  ul#posts h1, ul#posts h2, ul#posts h3, ul#posts h4, ul#posts h5, ul#posts h6 {
    margin-bottom: 5px; }
  ul#posts li {
    padding: 10px;
    padding-bottom: 40px;
    list-style: none; }
    ul#posts li .author img {
      width: 32px; }

.section {
  margin-top: 10px;
  margin-bottom: 10px; }

.section > .post h3 {
  font-size: 190%;
  line-height: 160%; }
.section > .post p {
  font-size: 130%; }
.section > .post .author img {
  width: 64px; }

#upgrade-please, #welcome {
  background: #d8d8d8;
  background: rgba(32, 32, 32, 0.1);
  padding: 10px;
  text-align: center; }

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: transparent; }

#reservations {
  table-layout: fixed; }
  #reservations th, #reservations td {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
  #reservations tbody tr:hover {
    background-color: transparent; }
  #reservations td:hover {
    background-color: #fff; }
  #reservations td {
    height: 60px; }
  #reservations td.today {
    background-colior: #fff; }
