
/* General Styles */

p {
	line-height: 1.8;
}

.leftline {
	border-left: 1px solid #F4F4F4;
	padding-left: 20px;
}

.rightline {
	border-right: 1px solid #F4F4F4;
	padding-right: 20px;
}

/* Masthead */


.masthead .nav {
	margin-top: 40px;
}

.masthead .nav li {
	margin-left: 10px;
	font-weight: normal;
	font-family: "Oxygen", sans-serif;
}

/* Slideshow */

/* Columns */

.home-columns {
	margin-bottom: 20px;
}

.home-columns i {
	font-size: 64px;
	margin: 15px 20px 60px 0;
	color: #CCC;
}

.home-columns h2 {
	color: #3B3B3B;
	margin-bottom: 0;
}

.work-columns,
.one-column {
	margin-bottom: 20px;
}

.services-list {
	list-style: none;
	margin: 0;
}

.services-list li {
	line-height: 1.8;
}

/* Contact */

.contact-form {
	padding-top: 20px;
	border-top: 1px solid #F4F4F4;
}

/* Map */

#map_canvas {
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
}

/* Thumbnails */

.thumbnails li a.thumbnail {
	border: none;
	padding: 0;
	margin-bottom: 14px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: relative;
}

.thumbnails li a.thumbnail img {
	margin: 0;
}

.thumbnails li a.thumbnail .caption {
	display: block;
	background: #900;
	padding: 0;
	width: 270px;
	height: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.thumbnails li a.thumbnail:hover .caption {
	height: 185px;
	opacity: 0.7;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.thumbnails li a.thumbnail .caption i {
	display: block;
	font-size: 40px;
	color: #FFF;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -24px;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.thumbnails li a.thumbnail:hover .caption i {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Footer */

.footer {
	background: #F8F8F8;
	padding: 30px 0;
}

.footer h3 {
	margin-bottom: 10px;
}

.footer a {
	color: #888;
}

.footer a:hover {
	color: #666;
}

.footer ul.footer-nav {
	list-style: none;
	margin: 0;
}

.footer ul.footer-nav li {
	line-height: 2;
}