{% load bootstrap %}
{% load util %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>아너랑 beta</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/font-awesome.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/portfolio.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-tou1ch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    -->
  </head>
  
  <body>
    <div class="header">
	  <div class="container">
	    <div class="masthead clearfix">
		  <h1 class="pull-left"><a href="/"><img src="{{ STATIC_URL }}honorang.serif.png" alt="Honorang Logo" /></a></h1>
		  <ul class="nav nav-pills pull-right">
            {% for menu in nav %}
		    <li{% if current_nav == menu.view %} class="active"{% endif %}>
			  <a href="{{ menu.url }}">{{ menu.name }}</a>
		    </li>
            {% endfor %}
            {% if user.is_authenticated %}
            <li><form action="{% url django.contrib.auth.views.logout %}" method="post">{% csrf_token %}<input type="hidden" name="next" value="{{ request.get_full_path }}" /><button type="submit">로그아웃</button></form></li>
            {% else %}
            <li{% if current_nav == "django.contrib.auth.views.login" %} class="active"{% endif %}><a href="{% url django.contrib.auth.views.login %}?next={{ request.get_full_path }}">로그인</a></li>
            {% endif %}
		  </ul>
	    </div>
      </div>
    </div>
    <!--[if lt IE 9]>
    <div id="upgrade-please">
      브라우저를 업그레이드해 주세요! <a href="http://browsehappy.com/">자세한 내용 보기</a>
    </div>
    <![endif]-->

    {% block content %}{% endblock %}
    
    <div class="footer" >
	  <div class="container">
        <div class="row">
		  <div class="span8">
		    <h3>HYU Honor</h3>
		    <p>2012 Honorang</p>
		  </div>
          <div class="span4">
		    <h3>링크</h3>
		    <ul class="footer-nav">
              {% for menu in nav %}
		      <li>
			    <a href="{{ menu.url }}">{{ menu.name }}</a>
		      </li>
              {% endfor %}
		    </ul>
		  </div>
	    </div>
      </div>
    </div>
    <!-- Le javascript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}jquery.wookmark.min.js"></script>
    <script type="text/javascript">
        $('#posts li').wookmark({offset: 0, container:$('#posts')});
        $('#myCarousel').carousel({interval: false});
    </script>
  </body>
</html>
