{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
{% if not user.is_authenticated %}
<div id="welcome">
  아너랑에 오신 것을 환영합니다! <a href="{% url honorang.forum.views.join %}" title="가입하기">여기에서 가입하세요</a>.
</div>
{% endif %}
<div class="section container">
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
	<div class="carousel-inner">
	  <div class="active item item1">
        <div class="content">
          <h2>공정무역 캠페인</h2>
          <p>Find out now!</p>
        </div>
	  </div>
	  <div class="item item2">
        <div class="content">
          <h2>Make your work look amazing</h2>
          <p>Find out now!</p>
        </div>
	  </div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  
  <div class="row home-columns" style="display: none">
	<div class="span4 home-column clearfix">
	  <i class="icon-th pull-left"></i>
	  <div class="content">
		<h2>Responsive Grid</h2>
		<p>The theme is based on a responsive grid, ensuring your content looks amazing no matter what device your customer is looking at it on</p>
	  </div>
	  
	</div>
	
	<div class="span4 home-column clearfix">
	  
	  <i class="icon-sitemap pull-left"></i>
	  <div class="content">
		<h2>6 Template Types</h2>
		<p>You get a <a href="indx.html">homepage</a>, <a href="work.html">work section</a>, <a href="1-column.html">1 column layout</a>, <a href="2-column.html">2 column layout</a> and a <a href="contact.html">contact page</a>. Build the perfect portfolio site!</p>
	  </div>
	  
	</div>
    <div class="span4 home-column clearfix">
	  
	  <i class="icon-picture pull-left"></i>
	  <div class="content">
		<h2>Slideshow</h2>
		<p>Show off your best work on the homepage in a slideshow that is easily customisable, and easy to add to any other page!</p>
	  </div>
	  
	</div>
	
  </div>
</div>
{% endblock %}
