{% extends "base.html" %}
{% load bootstrap %}
{% load util %}

{% block content %}
<div class="section container">
  <div class="btn-group">
    {% if user.is_authenticated %}
    <a href="{% url honorang.forum.views.post_write %}" class="btn" id="write">
    {% else %}
    <span class="btn disabled" title="로그인하세요">
    {% endif %}
      <i class="icon-plus"></i> 글쓰기</a>
    {% if user.is_authenticated %}
    </a>
    {% else %}
    </span>
    {% endif %}
    
    
    {% if prev %}<a class="btn" id="prev" href="{% url honorang.forum.views.posts %}?offset={{ prev }}"><i class="icon-arrow-up"></i> 최근 이야기</a>{% endif %}
    <a href="" class="btn foo" id="foo">_</a>
  </div>

<ul id="posts">
{% for post in objects %}
<li>
  <div>
    {% with limit=30 %}
    {% if post.title %}
    <h3>{{ post.title }}</h3>{% endif %}
    {% if post.image %}
    <img src="{{ post.image }}" alt="photo" />
    {% endif %}
    <p>
    {% if post.content|wordcount > limit %}
      {{ post.content|truncatewords:limit }}<br /><a href="{% url honorang.forum.views.post_detail post.id %}">더 보기</a>
    {% else %}
      {{ post.content }}
    {% endif %}
    </p>
    <p>
      {% if post.starts_at %}{{ post.starts_at|full }} ~{% endif %}
      {% if post.ends_at %}{{ post.ends_at|time }}{% endif %}
    </p>
    {% endwith %}
  </div>
  <div class="author">
    {% if post.author.photo %}
    <img src="{{ post.author.photo }}" alt="{{ post.author.name }} 님의 프로필 사진" />
    {% endif %}
    <span>{{ post.author.name }}</span>
    <span>{{ post.posted_at|relative }}</span>
  </div>
</li>
{% empty %}
<li>no post</li>
{% endfor %}
</ul>
{% if next %}<a class="btn next-button" href="{% url honorang.forum.views.posts %}?offset={{ next }}"><i class="icon-arrow-down"></i> 이전 이야기</a>{% endif %}
</div>
{% endblock %}
