{% extends "base.html" %}
{% load util %}
{% load bootstrap %}

{% block content %}
<div class="section container">
  <h2>새 글쓰기</h2>
  <div class="row">
    <form id="post-form" action="{% url honorang.forum.views.posts %}" method="POST" class="form-inline span7">
      {% if form.non_field_errors %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">&times;</a>
        {% for non_field_error in form.non_field_errors %}
        {{ non_field_error }}
        {% endfor %}
      </div>
      {% endif %}
      {% for field in form.hidden_fields %}
      {{ field }}
      {% endfor %}
      {% for field in form.visible_fields %}
      <div class="control-group">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls row">
          {{ field }}
          {% for error in field.errors %}<span class="span5 help-inline">{{ error }}</span>{% endfor %}
          {% if field.help_text %}<span class="span5 help-inline">{{ field.help_text|safe }}</span>{% endif %}
        </div>
      </div>
      {% endfor %}
      <input type="submit" class="btn btn-large btn-primary" value="글쓰기" />
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock %}
