{% extends "base.html" %}
{% load util %}

{% block content %}
<div class="section container">
  <div class="post row">
    <div class="content span7">
      {% if post.title %}
      <h3>{{ post.title }}</h3>{% endif %}
      {% if post.image %}
      <img src="{{ post.image }}" alt="photo" />
      {% endif %}
      <p>{{ post.content|linebreaksbr }}{% if post.starts_at %}<br />{{ post.starts_at }}~{% endif %}{% if post.ends_at %}{{ post.ends_at }}{% endif %}</p>
    </div>
    <div class="author span5">
      {% if post.author.photo %}
      <img src="{{ post.author.photo }}" alt="{{ post.author.name }} 님의 프로필 사진" />
      {% endif %}
      <span>{{ post.author.name }}</span>
      <span>{{ post.posted_at|relative }}</span>
    </div>
  </div>
</div>

{% endblock %}
