{% extends "base.html" %}
{% load util %}

{% block content %}
<div class="section container">
  <h2>{{ offset.year }}년 {{ offset.month}}월</h2>
  <div class="btn-group">
    <a href="/reservations?year={{ prev.year }}&month={{ prev.month }}" class="btn"><i class="icon-arrow-left"></i> 이전 달</a>
    {% if offset.year == today.year and offset.month == today.month %}
    <span class="btn disabled">
    {% else %}
    <a href="/reservations" class="btn">
    {% endif %}
      이 달
    {% if offset.year == today.year and offset.month == today.month %}
    </span>
    {% else %}
    </a>
    {% endif %}
    
    <a href="/reservations?year={{ next.year }}&month={{ next.month }}" class="btn"><i class="icon-arrow-right"></i> 다음 달</a>
  </div>
  
  <table id="reservations" class="table">
    <thead>
      <tr>
        <th>일</th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
      </tr>
    </thead>
    <tbody>
      {% for week in weeks %}
      <tr>
        {% for day in week %}
        <td {% if day == today %}class="today"{% endif %}>
          <div>{% if offset.month != day.date.month %}{{ day.date.month }}/{% endif %}{{ day.date.day }}</div>
          {% if day.reservations %}
          <div>{% for reservation in day.reservations %}
            <span class="label">{{ reservation.starts_at|time }} {{ reservation.author.name }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
